networks:
  opensearch-net:
    driver: bridge

volumes:
  opensearch-data:

services:
  opensearch:
    container_name: opensearch
    build:
      context: ./
      dockerfile: ./opensearch/Dockerfile
    environment:
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - plugins.security.disabled=true
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=${OPENSEARCH_ADMIN_PASSWORD}
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - opensearch-data:/usr/share/opensearch/data
    ports:
      - ${OPENSEARCH_PORT}:9200
      - 9600:9600
    networks:
      - opensearch-net
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s

  opensearch-syncer:
    build:
      context: ./
      dockerfile: ./opensearch-syncer/Dockerfile
    container_name: opensearch-syncer
    depends_on:
      opensearch:
        condition: service_healthy
    environment:
      - PG_USER=${PG_USER}
      - PG_PASSWORD=${DB_PASSWORD}
      - PG_HOST=${HOST_IP}
      - PG_DATABASE=${PG_DB_NAME}
      - PG_PORT=5445
      - OPENSEARCH_NODE=http://opensearch:9200
      - TABLES_TO_SYNC=player,club,team,match,player_result,player_point
    networks:
      - opensearch-net