server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://192.168.3.140:31000/loki/api/v1/push   # <-- Loki manzili

scrape_configs:
  - job_name: "postgres"
    static_configs:
      - targets:
          - localhost
        labels:
          job: "postgres"
          environment: "docker"
          __path__: /var/log/postgresql/*.log
